{% extends 'layouts/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <script type="text/javascript" src={% static "js/validation.js" %}></script>
{%  endblock %}

{% block title %}
    New question
{% endblock %}

{% block content %}
    <form method="get" action="{% url 'index' %}" class="needs-validation" novalidate>
        <div class="input">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title"
                   value="" required>
            <div class="invalid-feedback">
                Title is required!
            </div>
        </div>
        <div class=" input">
            <label for="textArea">Text</label>
            <textarea class="form-control align-content-lg-start" id="textArea" rows="10" value="" required>
                        </textarea>
            <div class="invalid-feedback">
                Text is required!
            </div>
        </div>
        <div class="input">
            <label for="tags" class="form-label">Tags</label>
            <input type="tags" class="form-control" id="tags"
                   value="" required>
            <div class="invalid-feedback">
                Tags is required!
            </div>
        </div>
        <button class="btn btn-outline-primary btn-lg" type="submit">Ask</button>
    </form>

{% endblock %}
