{% extends 'layouts/base.html' %}
{% load static %}

{% block links %}
    <link href="{% static '/css/registration.css' %}" rel="stylesheet">
    <script type="text/javascript" src={% static "js/validation.js" %}></script>
{% endblock %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'index' %}" class="needs-validation" novalidate>
        <div class="registration">
            {% include 'components/login-email-form.html' %}
            <div class="input">
                <button class="btn btn-outline-primary btn-lg" type="submit">Log in</button>
            </div>
            <div>
                <a href="{%  url 'signup' %}">Create new account</a>
            </div>
        </div>
    </form>
{% endblock %}
