{% extends 'layouts/base.html' %}
{% load static %}

{% block links %}
    <link href={% static 'css/question.css' %} rel="stylesheet">
{% endblock %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="row full-question">
        {% include 'components/card-item.html' %}
    </div>
    <hr>
    {% for answer in page %}
        <div class="row question">
            {% include 'components/answer-item.html' %}
        </div>
    {% endfor %}
    {% include 'components/pagination-item.html' %}
    <hr>
    <form action="{% url 'question' question.id %}" method="get">
        <div class="form-floating text-area">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px; margin-top: 40px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <button type="submit" class="btn btn-outline-primary" style="height: 50px; width: 150px;">Answer</button>
    </form>
{% endblock %}
