{% extends 'layouts/base.html' %}
{% load static %}

{% block links %}
    <link href="{% static '/css/registration.css' %}" rel="stylesheet">
    <script type="text/javascript" src={% static "js/validation.js" %}></script>
{% endblock %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
 <form method="get" action="{% url 'index' %}" class="needs-validation" novalidate>
                <div class="registration">
                    {% include 'components/login-email-form.html' %}
                    <div class="input ">
                        <label for="nickName" class="form-label">NickName</label>
                        <input type="text" class="form-control" id="nickName" placeholder="input nickname"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid nickname is required.
                        </div>
                    </div>
                    <div class="input">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="input password"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                    <div class="input">
                        <label for="password2" class="form-label">Repeat password</label>
                        <input type="password" class="form-control" id="password2" placeholder="repeat password"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                    <div class="input">
                        <label for="avatar" class="form-label">Upload avatar</label>
                        <input type="file" class="form-control" id="avatar" placeholder="upload avatar"
                               value="">
                    </div>
                    <button class="btn btn-outline-primary btn-lg" type="submit">Register</button>
                </div>
            </form>
{% endblock %}


