<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/registration.css" rel="stylesheet">
</head>
<body class="bg-body-tertiary">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ask about football</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="ask" placeholder="Search" aria-label="Search"
                               style="width: 400px">
                        <button class="btn btn-outline-primary" type="submit">Ask</button>
                    </form>
                </div>
            </nav>
            <div class="container-fluid nav-avatar">
                <a class="navbar-brand" href="#">log in</a>
                <a class="navbar-brand" href="#">register</a>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0 main">
    <h2>Registration</h2>
    <div class="row">
        <div class="col-8">
            <form method="post" action="#" class="needs-validation" novalidate>
                <div class="registration">
                    <div class="input ">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login" placeholder="Input login"
                               value="" required>
                        <div class="invalid-feedback">
                            Login is required.
                        </div>
                    </div>

                    <div class="input mb-3">
                        <label for="email" class="form-label">Email </label>
                        <input type="email" class="form-control" id="email" placeholder="input email"
                               value="" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="input ">
                        <label for="nickName" class="form-label">NickName</label>
                        <input type="text" class="form-control" id="nickName" placeholder="input nickname"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid nickname is required.
                        </div>
                    </div>

                    <div class="input">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="input password"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>

                    </div>

                    <div class="input">
                        <label for="password2" class="form-label">Repeat password</label>
                        <input type="password" class="form-control" id="password2" placeholder="repeat password"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>

                    <div class="input">
                        <label for="avatar" class="form-label">Upload avatar</label>
                        <input type="file" class="form-control" id="avatar" placeholder="upload avatar"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid avatar is required.
                        </div>
                    </div>
                    <button class="btn btn-outline-primary btn-lg" type="submit">Register</button>
                </div>
            </form>
        </div>
        <div class="col-4 ">
            <h1 style="margin-bottom: 20px"> Popular Tags</h1>
            <div class="tags">
                <a href="/" class="tag " style="color: orange"> World Cup</a>
                <a href="/" class="tag"> Champion Cup</a>
                <a href="/" class="tag" style="color: #20c997"> Europe League</a>
                <a href="/" class="tag" style="color: coral"> Russian Premier League</a>
                <a href="/" class="tag" style="color: #bb2d3b"> La Liga</a>
                <a href="/" class="tag" style="color: firebrick;"> Bundesliga</a>
                <a href="/" class="tag" style="color: purple"> FNL</a>
            </div>
            <h1 class="header" style="margin-bottom: 20px; margin-top: 20px"> Best Members</h1>
            <div class="best-members">
                <a href="/" class="tag"> World Cup</a>
                <a href="/" class="tag"> Champion Cup</a>
                <a href="/" class="tag"> Europe League</a>
                <a href="/" class="tag"> Russian Premier League</a>
                <a href="/" class="tag"> La Liga</a>
                <a href="/" class="tag"> Bundesliga</a>
                <a href="/" class="tag"> FNL</a>
            </div>
        </div>
    </div>
</main>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
