
<div class="input ">
    <label for="login" class="form-label">Login</label>
    <input type="text" class="form-control" id="login" placeholder="Input login"
           value="" required>
    <div class="invalid-feedback">
        Login is required.
    </div>
</div>
<div class="input mb-3">
    <label for="email" class="form-label">Email </label>
    <input type="email" class="form-control" id="email" placeholder="input email"
           value="" required>
    <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
    </div>
</div>